{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Administration - Homepage{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#cartoons" data-toggle="tab">Cartoons</a></li>
                <li><a href="#movies" data-toggle="tab">Movies</a></li>
                <li><a href="#animes" data-toggle="tab">Animes</a></li>
                <li><a href="#series" data-toggle="tab">Series</a></li>
                <li><a href="#books"  data-toggle="tab">Books</a></li>
                <li><a href="#comics" data-toggle="tab">Comics</a></li>
                <li><a href="#musics" data-toggle="tab">Musics</a></li>
                <li><a href="#games"  data-toggle="tab">Video Game</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <section class="tab-pane fade in active" id="cartoons">
                <h2>Cartoons</h2>
                {% if cartoons|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Cartoon
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for c in cartoons %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ c.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : c.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : c.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No cartoons found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="movies">
                <h2>Movies</h2>
                {% if movies|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Movie
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for m in movies %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ m.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : m.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : m.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No movies found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="animes">
                <h2>Animes</h2>
                {% if animes|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Anime
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for a in animes %}
                            <tr>
                                {% if a.numberOfSeasons == 1 %}
                                    <td class="col-md-8 col-sm-8 col-xs-8">{{ a.title }}</td>
                                {% else %}
                                    <td class="col-md-8 col-sm-8 col-xs-8">{{ a.title }} - Season {{ a.currentSeason }}</td>
                                {% endif %}
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : a.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : a.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No animes found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="series">
                <h2>Series</h2>
                {% if series|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Serie
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for s in series %}
                            <tr>
                                {% if s.numberOfSeasons == 1 %}
                                    <td class="col-md-8 col-sm-8 col-xs-8">{{ s.title }}</td>
                                {% else %}
                                    <td class="col-md-8 col-sm-8 col-xs-8">{{ s.title }} - Season {{ s.currentSeason }}</td>
                                {% endif %}
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : s.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : s.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No series found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="books">
                <h2>Books</h2>
                {% if books|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Book
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for b in books %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ b.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : b.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : b.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No books found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="comics">
                <h2>Comics</h2>
                {% if comics|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Comic
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for c in comics %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ c.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : c.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : c.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No comics found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="musics">
                <h2>Albums</h2>
                {% if musics|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Music
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for m in musics %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ m.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : m.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : m.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No albums found.</p>
                {% endif %}
            </section>

            <section class="tab-pane fade" id="games">
                <h2>Video Games</h2>
                {% if video_games|length > 0 %}
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('add-media') }}">
                                    <button role="link" class="btn-link">
                                        <span class="glyphicon glyphicon-plus"></span> Add Video Game
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% for v in video_games %}
                            <tr>
                                <td class="col-md-8 col-sm-8 col-xs-8">{{ v.title }}</td>
                                <td class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
                                    <a href="{{ path('edit-media', {'id' : v.id }) }}">
                                        <button role="link" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                    </a>

                                    <a href="{{ path('remove-media', {'id' : v.id }) }}">
                                        <button role="link" class="btn btn-danger  btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No video games found.</p>
                {% endif %}
            </section>
        </div>
    </section>
{% endblock %}
