{% extends "layout.html.twig" %}

{# Bootstrap theme. #}
{% form_theme media_form 'bootstrap_3_horizontal_layout.html.twig' %}

{# Keywords from meta 'keyword' #}
{% block keywords %}register, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Add {{ media }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{ block('title') }}</h2>

        <div class="well">
            {{ form_start(media_form, {
                    'attr' : {
                        'role' : 'form',
                    }
                })
            }}

            {{ form_row(media_form.title) }}
            {{ form_widget(media_form.title) }}

            {{ form_row(media_form.originalTitle) }}
            {{ form_widget(media_form.originalTitle) }}

            {{ form_row(media_form.releaseDate) }}
            {{ form_widget(media_form.releaseDate) }}

            {{ form_row(media_form.endDate) }}
            {{ form_widget(media_form.endDate) }}

            {{ form_row(media_form.runtime) }}
            {{ form_widget(media_form.runtime) }}

            {{ form_row(media_form.numberOfSeasons) }}
            {{ form_widget(media_form.numberOfSeasons) }}

            {{ form_row(media_form.currentSeason) }}
            {{ form_widget(media_form.currentSeason) }}

            {{ form_row(media_form.averageEpisodeRuntime) }}
            {{ form_widget(media_form.averageEpisodeRuntime) }}

            {{ form_row(media_form.numberOfEpisode) }}
            {{ form_widget(media_form.numberOfEpisode) }}

            {{ form_row(media_form.maxEpisodes) }}
            {{ form_widget(media_form.maxEpisodes) }}

            {{ form_row(media_form.languagesSpoken) }}
            {{ form_widget(media_form.languagesSpoken) }}

            {{ form_row(media_form.subtitles) }}
            {{ form_widget(media_form.subtitles) }}

            {{ form_row(media_form.supports) }}
            {{ form_widget(media_form.supports) }}

            {{ form_row(media_form.nbTracks) }}
            {{ form_widget(media_form.nbTracks) }}

            {{ form_row(media_form.length) }}
            {{ form_widget(media_form.length) }}

            {{ form_row(media_form.isbn) }}
            {{ form_widget(media_form.isbn) }}

            {{ form_row(media_form.nbPages) }}
            {{ form_widget(media_form.nbPages) }}

            {{ form_row(media_form.format) }}
            {{ form_widget(media_form.format) }}

            {{ form_row(media_form.volumes) }}
            {{ form_widget(media_form.volumes) }}

            {{ form_row(media_form.currentVolume) }}
            {{ form_widget(media_form.currentVolume) }}

            {{ form_row(media_form.multiplayers) }}
            {{ form_widget(media_form.multiplayers) }}

            {{ form_row(media_form.platforms) }}
            {{ form_widget(media_form.platforms) }}

            {{ form_row(media_form.synopsis) }}
            {{ form_widget(media_form.synopsis) }}

            {{ form_row(media_form.mainActors) }}
            {{ form_widget(media_form.mainActors) }}

            {{ form_row(media_form.producers) }}
            {{ form_widget(media_form.producers) }}

            {{ form_row(media_form.directors) }}
            {{ form_widget(media_form.directors) }}

            {{ form_row(media_form.labelRecords) }}
            {{ form_widget(media_form.labelRecords) }}

            {{ form_row(media_form.singers) }}
            {{ form_widget(media_form.singers) }}

            {{ form_row(media_form.publishers) }}
            {{ form_widget(media_form.publishers) }}

            {{ form_row(media_form.developers) }}
            {{ form_widget(media_form.developers) }}

            {{ form_row(media_form.authors) }}
            {{ form_widget(media_form.authors) }}

            {# Submit #}
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Registration</button>
                    <button type="reset" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-erase"></span> Clean form</button>
                </div>
            </div>
            {{ form_end(media_form) }}
        </div>
    </section>
{% endblock %}
