{% extends "layout.html.twig" %}

{# Bootstrap theme. #}
{% form_theme media_form 'bootstrap_3_horizontal_layout.html.twig' %}

{# Keywords from meta 'keyword' #}
{% block keywords %}register, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Add {{ media }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{ block('title') }}</h2>

        <div class="well">
            {{ form_start(media_form, {
                'attr' : {
                    'role' : 'form',
                }
            })
            }}

            {# Main information block. #}
            <fieldset>
                <legend>Main Information</legend>
                {{ form_row(media_form.title) }}
                {{ form_widget(media_form.title) }}

                {{ form_row(media_form.originalTitle) }}
                {{ form_widget(media_form.originalTitle) }}

                {{ form_row(media_form.synopsis) }}
                {{ form_widget(media_form.synopsis) }}
            </fieldset>

            {# Date block. #}
            <fieldset>
                <legend>Date</legend>
                {{ form_row(media_form.releaseDate) }}
                {{ form_widget(media_form.releaseDate) }}
            </fieldset>


            {# Languages block. #}
            <fieldset>
                <legend>Languages</legend>
                {{ form_row(media_form.languagesSpoken) }}
                {{ form_widget(media_form.languagesSpoken) }}

                {{ form_row(media_form.subtitles) }}
                {{ form_widget(media_form.subtitles) }}
            </fieldset>

            {# Specific information from each media type. #}
            <fieldset>
                <legend>Cartoon information</legend>
                {{ form_row(media_form.runtime) }}
                {{ form_widget(media_form.runtime) }}
            </fieldset>

            {# Persons block. #}
            <fieldset>
                <legend>Information about persons / companies</legend>
                {{ form_row(media_form.producers) }}
                {{ form_widget(media_form.producers) }}

                {{ form_row(media_form.directors) }}
                {{ form_widget(media_form.directors) }}
            </fieldset>

            {# Genres / Supports / Formats / .. block. #}
            <fieldset>
                <legend>Genres and supports information</legend>
                {{ form_row(media_form.genres) }}
                {{ form_widget(media_form.genres) }}

                {{ form_row(media_form.supports) }}
                {{ form_widget(media_form.supports) }}
            </fieldset>

            {# Submit #}
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-save"></span> Save new {{ media|capitalize|replace({'-' : ' '}) }}</button>
                    <button type="reset" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-erase"></span> Clear form</button>
                </div>
            </div>
            {{ form_end(media_form) }}
        </div>
    </section>
{% endblock %}
