{% extends "layout.html.twig" %}

{# Bootstrap theme. #}
{% form_theme media_form 'bootstrap_3_horizontal_layout.html.twig' %}

{# Keywords from meta 'keyword' #}
{% block keywords %}register, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Add {{ media }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{ block('title') }}</h2>

        <div class="well">
            {{ form_start(media_form, {
                'attr' : {
                    'role' : 'form',
                }
            })
            }}

            {# Main information block. #}
            <fieldset>
                <legend>{% trans %}main_information{% endtrans %}</legend>
                {{ form_row(media_form.title) }}
                {{ form_widget(media_form.title) }}

                {{ form_row(media_form.originalTitle) }}
                {{ form_widget(media_form.originalTitle) }}

                {{ form_row(media_form.synopsis) }}
                {{ form_widget(media_form.synopsis) }}
            </fieldset>

            {# Date block. #}
            <fieldset>
                <legend>Date</legend>
                {{ form_row(media_form.releaseDate) }}
                {{ form_widget(media_form.releaseDate) }}
            </fieldset>

            {# Languages block. #}
            <fieldset>
                <legend>{% trans %}languages{% endtrans %}</legend>
                {{ form_row(media_form.languages) }}
                {{ form_widget(media_form.languages) }}
            </fieldset>

            {# Specific information from each media type. #}
            <fieldset>
                <legend>{% trans %}complementary_information{% endtrans %}</legend>
                {{ form_row(media_form.multiplayers) }}
                {{ form_widget(media_form.multiplayers) }}
            </fieldset>

            {# Persons block. #}
            <fieldset>
                <legend>{% trans %}person_company_information{% endtrans %}</legend>
                {{ form_row(media_form.developers) }}
                {{ form_widget(media_form.developers) }}

                {{ form_row(media_form.publishers) }}
                {{ form_widget(media_form.publishers) }}
            </fieldset>

            {# Genres / Supports / Formats / .. block. #}
            <fieldset>
                <legend>{% trans %}genres_supports_information{% endtrans %}</legend>
                {{ form_row(media_form.genres) }}
                {{ form_widget(media_form.genres) }}

                {{ form_row(media_form.supports) }}
                {{ form_widget(media_form.supports) }}

                {{ form_row(media_form.platforms) }}
                {{ form_widget(media_form.platforms) }}
            </fieldset>

            {# Submit #}
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon
                    glyphicon-save"></span> {% trans %}save_new{% endtrans %} {{ media|replace({'-' : '_'})|trans }}
                    </button>
                    <button type="reset" class="btn btn-default btn-primary"><span class="glyphicon
                    glyphicon-erase"></span> {% trans %}clean_form{% endtrans %}</button>
                    <!-- Genres -->
                    <button type="button" class="btn btn-secondary"
                            data-toggle="popover" data-trigger="focus" title="{% trans %}genres_available{% endtrans %}"
                            data-content=
                            "
                            {% for genre in help.genres %}
                                {% if loop.last %}
                                    {{ genre|capitalize|replace({'_' : ' '}) }}
                                {% else %}
                                    {{ genre|capitalize|replace({'_' : ' '}) }},
                                {% endif %}
                            {% endfor %}
                            ">
                        <span class="glyphicon glyphicon-question-sign"> Genres</span>
                    </button>
                    <!-- Supports -->
                    <button type="button" class="btn btn-secondary"
                            data-toggle="popover" data-trigger="focus" title="{% trans %}supports_available{% endtrans %}"
                            data-content=
                            "
                            {% for support in help.supports %}
                                {% if loop.last %}
                                    {{ support|capitalize|replace({'_' : ' '}) }}
                                {% else %}
                                    {{ support|capitalize|replace({'_' : ' '}) }},
                                {% endif %}
                            {% endfor %}
                            ">
                        <span class="glyphicon glyphicon-question-sign"> Supports</span>
                    </button>
                    <!-- Platforms -->
                    <button type="button" class="btn btn-secondary"
                            data-toggle="popover" data-trigger="focus" title="{% trans %}platforms_available{% endtrans %}"
                            data-content=
                            "
                            {% for platform in help.platforms %}
                                {% if loop.last %}
                                    {{ platform|capitalize|replace({'_' : ' '}) }}
                                {% else %}
                                    {{ platform|capitalize|replace({'_' : ' '}) }},
                                {% endif %}
                            {% endfor %}
                            ">
                        <span class="glyphicon glyphicon-question-sign"> {% trans %}platform{% endtrans %}</span>
                    </button>
                </div>
            </div>
            {{ form_end(media_form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../web/js/popover.js') }}"></script>
{% endblock %}
