{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Homepage{% endblock %}

{# Page Title present on h1 markup #}
{% block page_title %}Media Library : Homepage{% endblock %}

{# Body of the page #}
{% block content %}
<section class="col-md-12 col-sm-12 col-xs-12">
    <section id="videos">
        <div class="row">
            {# Cartoons article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Cartoons</h2>
                {% if cartoons|length > 0 %}
                    <table class="table table-striped">
                        {% for c in cartoons %}
                            <tr>
                                <td>{{ c.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No cartoons found.</p>
                {% endif %}
            </article>

            {# Movie article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Movies</h2>
                {% if movies|length > 0 %}
                    <table class="table table-striped">
                        {% for m in movies %}
                            <tr>
                                <td>{{ m.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No movies found.</p>
                {% endif %}
            </article>
        </div>

        <div class="row">
            {# Anime article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Animes</h2>
                {% if animes|length > 0 %}
                    <table class="table table-striped">
                        {% for a in animes %}
                            <tr>
                                {% if a.numberOfSeasons == 1 %}
                                    <td>{{ a.title }}</td>
                                {% else %}
                                    <td>{{ a.title }} - Saison {{ a.currentSeason }}</td>
                                {% endif %}
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No animes found.</p>
                {% endif %}
            </article>

            {# Series article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Series</h2>
                {% if series|length > 0 %}
                    <table class="table table-striped">
                        {% for s in series %}
                            <tr>
                                {% if s.numberOfSeasons == 1 %}
                                    <td>{{ s.title }}</td>
                                {% else %}
                                    <td>{{ s.title }} - Saison {{ s.currentSeason }}</td>
                                {% endif %}
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No series found.</p>
                {% endif %}
            </article>
        </div>
    </section>

    <section id="books">
        <div class="row">
            {# Books article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Books</h2>
                {% if books|length > 0 %}
                    <table class="table table-striped">
                        {% for b in books %}
                            <tr>
                                <td>{{ b.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No books found.</p>
                {% endif %}
            </article>

            {# Comics article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Comics</h2>
                {% if comics|length > 0 %}
                    <table class="table table-striped">
                        {% for c in comics %}
                            <tr>
                                <td>{{ c.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No comics found.</p>
                {% endif %}
            </article>
        </div>
    </section>

    <section id="musics-games">
        <div class="row">
            {# Musics article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Albums</h2>
                {% if musics|length > 0 %}
                    <table class="table table-striped">
                        {% for m in musics %}
                            <tr>
                                <td>{{ m.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No albums found.</p>
                {% endif %}
            </article>

            {# Video games article #}
            <article class="col-md-6 col-sm-12 col-xs-12">
                <h2>Last Video Games</h2>
                {% if video_games|length > 0 %}
                    <table class="table table-striped">
                        {% for v in video_games %}
                            <tr>
                                <td>{{ v.title }}</td>
                                <td><a href="" ><button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No video games found.</p>
                {% endif %}
            </article>
        </div>
    </section>
</section>
{% endblock %}
