<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="Media Library, {% block keywords %}{% endblock %}">
        {% block meta_tags %}{% endblock %}

        <link href="{{ asset('favicon.ico') }}" rel="icon" >
        <link href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('../vendor/fortawesome/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('../vendor/components/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {# Add other stylesheets #}
        {% block stylesheets %}{% endblock %}

        <title>Media Library - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="row">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="main-menu−collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}"> Media Library</a>
                    </div>

                    <!-- Links -->
                    <div class="collapse navbar-collapse" id="main-menu−collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('home') }}">Home </a></li>
                            {# Get all medias #}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('media-list', { 'media' : 'animes', 'pagination' : 0}) }}">Animes</a></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'cartoons', 'pagination' : 0}) }}">Cartoons</a></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'movies', 'pagination' : 0}) }}">Movies</a></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'series', 'pagination' : 0}) }}">Series</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'books', 'pagination' : 0}) }}">Books</a></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'comics', 'pagination' : 0}) }}">Comics</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'musics', 'pagination' : 0}) }}">Musics</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('media-list', { 'media' : 'video-games', 'pagination' : 0}) }}">Video Games</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Administration</a></li>
                                        <li><a href="{{ path('logout') }}">Log out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('inscription') }}">Inscription</a></li>
                                        <li><a href="{{ path('login') }}">Log in</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                        {# search form #}
                        {{ form_start(search_form, {
                                'attr' : {
                                    'class' : 'navbar-form navbar-right',
                                    'method' : 'post',
                                    'action' : path('search-result'),
                                }
                            })
                        }}
                            <div class="form-group">
                                {{ form_widget(search_form.search, {
                                        'attr' : {
                                            'class' : 'form-control',
                                            'placeholder' : 'Search media ...',
                                        }
                                    })
                                }}
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        {{ form_end(search_form) }}
                    </div>
                </div>
            </nav>

            <!-- Body of webpage -->
            <section class="container">
                <section class="row">
                    {% block content %}{% endblock %}
                </section>
            </section>

            <!-- Footer of the webpage. -->
            <div class="container">
                <div class="row">
                    <footer class="col-md-12 col-sm-12 col-xs-12">
                        <p class="text-center">Media Library &copy;, 2017, All Rights Reserved.</p>
                    </footer>
                </div>
            </div>

            <!-- Loading script section -->
            <script src="{{ asset('../vendor/components/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
