{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}login, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Log in{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{ block('title') }}</h2>
        {% if error %}
            <div class="alert alert-danger">
                <strong>Login failed!</strong> {{ error }}
            </div>
        {% endif %}
        <div class="well">
            {{ form_start(login_form, {
                    'attr' : {
                        'class' : 'form-signin form-horizontal',
                        'role' : 'form',
                        'method' : 'post',
                        'action' : path('login_check'),
                    }
                })
            }}
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-xs-4 col-xs-offset-2" for="_username">Username :</label>
                    <div class="col-sm-6 col-md-4">
                        {{ form_widget(login_form.username, {
                                'attr' : {
                                    'name' : '_username',
                                    'class' : 'form-control',
                                    'placeholder' : 'Enter your username',
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-xs-4 col-xs-offset-2" for="_password">Password :</label>
                    <div class="col-sm-6 col-md-4">
                        {{ form_widget(login_form.password, {
                            'attr' : {
                                'name' : '_password',
                                'class' : 'form-control',
                                'placeholder' : 'Enter your password',
                            }
                        })
                        }}
                    </div>
                </div>

                {# Submit #}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Inscription</button>
                        <button type="reset" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-erase"></span> Erase data</button>
                    </div>
                </div>
            {{ form_end(login_form) }}
        </div>
    </section>
{% endblock %}
