{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}{{ media.title }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h1>{{ media.title }}</h1>

        <div class="row">
            <aside class="col-md-4 col-sm-6 col-xs-12 main-information">
                <ul class="">
                    {% if media.originalTitle is defined %}<li>Original Title : {{ media.originalTitle }}</li>{% endif %}
                    {% if media.releaseDate is defined %}<li>Release Date : {{ media.releaseDate|date('d/m/y') }}</li>{% endif %}
                    {% if media.endDate is defined %}<li>Last Release Date: {{ media.endDate|date('d/m/y') }}</li>{% endif %}

                    {% if media.isbn is defined %}<li>ISBN : {{ media.isbn }}</li>{% endif %}
                    {% if media.nbPages is defined %}<li>Pages : {{ media.nbPages}} pages</li>{% endif %}
                    {% if media.currentVolume is defined %}<li>Current volume : {{ media.currentVolume}}</li>{% endif %}
                    {% if media.volumes is defined %}<li>Volumes : {{ media.volumes}}</li>{% endif %}

                    {% if media.multiplayers is defined %}<li>Multiplayers : {{ media.multiplayers }}</li>{% endif %}

                    {% if media.nbTracks is defined %}<li>Number of Tracks : {{ media.nbTracks }} tracks</li>{% endif %}
                    {% if media.length is defined %}<li>Length : {{ media.length|replace({'.' : ':'}) }}</li>{% endif %}

                    {% if media.runtime is defined %}<li>Runtime : {{ media.runtime }}'</li>{% endif %}
                    {% if media.numberOfSeasons is defined %}<li>Seasons : {{ media.numberOfSeasons }}</li>{% endif %}
                    {% if media.currentSeason is defined %}<li>Current Season : {{ media.currentSeason }}</li>{% endif %}
                    {% if media.averageEpisodeRuntime is defined %}<li>Time of Episode : {{ media.averageEpisodeRuntime }} minutes</li>{% endif %}
                    {% if media.numberOfEpisode is defined %}<li>Number of Episode : {{ media.numberOfEpisode }}</li>{% endif %}
                    {% if media.maxEpisodes is defined %}<li>Total of Episode : {{ media.maxEpisodes }}</li>{% endif %}

                    {% if media.languagesSpoken is defined %}
                        <li>Languages Spoken :
                            {% for l in media.languagesSpoken %}
                                {{ l|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.subtitles is defined %}
                        <li>Subtitles :
                            {% for s in media.subtitles %}
                                {{ s|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}


                    {% if media.genres is defined %}
                        <li>Genres :
                            {% for g in media.genres %}
                                {{ g|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.supports is defined %}
                        <li>Supports :
                            {% for s in media.supports %}
                                {{ s|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.format is defined %}
                        <li>Format :
                            {% for f in media.format %}
                                {{ f|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.platforms is defined %}
                        <li>Platforms :
                            {% for p in media.platforms %}
                                {{ p|lower|capitalize }},
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </aside>

            <article class="col-md-8 col-sm-6 col-xs-12">
                <h2>Synopsis</h2>
                {% if media.synopsis is defined and media.synopsis is not empty %}
                    <p>{{ media.synopsis }}</p>
                {% else %}
                    <p>No synopsis found.</p>
                {% endif %}

                {# authors, publishers, illustrators, developers, labelRecords, singers, producers, directors, mainActors #}
            </article>
        </div>

    </section>
{% endblock %}
