{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}{{ media.title }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">

        <div class="row">
            <article class="col-md-9 col-sm-6 col-xs-12">
                {% if media.title is defined %}
                    <h1>{{ media.title }}</h1>
                {% endif %}

                <h2>Synopsis</h2>
                {% if media.synopsis is defined and media.synopsis is not empty %}
                    <p>{{ media.synopsis }}</p>
                {% else %}
                    <p>No synopsis found.</p>
                {% endif %}

                {# Video Block. #}
                {% if media.mainActors is defined %}
                    {% if media.mainActors is not empty %}
                        <p>
                            With
                            {% for person in media.mainActors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No actors found.</p>
                    {% endif %}
                {% endif %}

                {% if media.producers is defined %}
                    {% if media.producers is not empty %}
                        <p>
                            Produce by
                            {% for person in media.producers %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No producers found.</p>
                    {% endif %}
                {% endif %}

                {% if media.directors is defined %}
                    {% if media.directors is not empty %}
                            <p>Direct by
                            {% for person in media.directors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No directors found.</p>
                    {% endif %}
                {% endif %}
                {# End Video Block. #}

                {# Book/Game Block #}
                {% if media.authors is defined %}
                    {% if media.authors is not empty %}
                        <p>
                            Write by
                            {% for person in media.authors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No author found.</p>
                    {% endif %}
                {% endif %}

                {% if media.illustrators is defined %}
                    {% if media.illustrators is not empty %}
                        <p>
                            Illustrate by
                            {% for person in media.illustrators %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No illustrators found.</p>
                    {% endif %}
                {% endif %}

                {% if media.developers is defined %}
                    {% if media.developers is not empty %}
                        <p>
                            Develop by
                            {% for company in media.developers %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No developers found.</p>
                    {% endif %}
                {% endif %}

                {% if media.publishers is defined %}
                    {% if media.publishers is not empty %}
                        <p>
                            Publish by
                            {% for company in media.publishers %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No publishers found.</p>
                    {% endif %}
                {% endif %}
                {# End Book/Game Block #}

                {# Music Block #}
                {% if media.singers is defined %}
                    {% if media.singers is not empty %}
                        <p>
                            Sing by
                            {% for person in media.singers %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No singer/band found.</p>
                    {% endif %}
                {% endif %}

                {% if media.labelRecords is defined %}
                    {% if media.labelRecords is not empty %}
                            <p>Recorded by
                            {% for company in media.labelRecords %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No label records found.<p/>
                    {% endif %}
                {% endif %}
                {# End Music Block #}

                {# Metadata from genres, supports, platforms and format. #}
                <p>
                    {% if media.genres is defined %}
                        {% for g in media.genres %}
                            <span class="label label-primary label-content">{{ g|lower|capitalize|replace({'_' : ' '}) }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if media.supports is defined %}
                        {% for s in media.supports %}
                            <span class="label label-info label-content">{{ s|lower|capitalize|replace({'_' : ' '}) }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if media.format is defined %}
                        <span class="label label-success label-content">{{ media.format|lower|capitalize }}</span>
                    {% endif %}

                    {% if media.platforms is defined %}
                        {% for p in media.platforms %}
                            <span class="label label-success label-content">{{ p|lower|capitalize|replace({'_' : ' '}) }}</span>
                        {% endfor %}
                    {% endif %}
                </p>

            </article>


            <aside class="col-md-3 col-sm-6 col-xs-12 complementary-information">
                <h2>Information</h2>
                <ul class="list-unstyled">
                    {% if media.originalTitle is defined %}
                        <li>Original Title : {{ media.originalTitle }}</li>
                    {% endif %}

                    {% if media.releaseDate is defined %}
                        {% if media.endDate is defined  %}
                            <li>Original Release : {{ media.releaseDate|localizeddate('long', 'none', global.request.locale) }} - {{ media.endDate|localizeddate('long', 'none', global.request.locale) }}</li>
                        {% else %}
                            <li>Original Release : {{ media.releaseDate|date('d F Y') }}</li>
                        {% endif %}
                    {% endif %}

                    {% if media.isbn is defined %}
                        <li>ISBN : {{ media.isbn }}</li>
                    {% endif %}

                    {% if media.nbPages is defined %}
                        <li>Pages : {{ media.nbPages}} pages</li>
                    {% endif %}

                    {% if media.currentVolume is defined and media.volumes is defined %}
                        <li>Volume : {{ media.currentVolume}} / {{ media.volumes }}</li>
                    {% endif %}

                    {% if media.multiplayers is defined %}
                        {% if media.multiplayers == true %}
                            <li>Multiplayers : Yes</li>
                        {% else %}
                            <li>Multiplayers : No</li>
                        {% endif %}
                    {% endif %}

                    {% if media.nbTracks is defined %}
                        <li>Number of Tracks : {{ media.nbTracks }} Tracks</li>
                    {% endif %}

                    {% if media.length is defined %}
                        <li>Length : {{ media.length|replace({'.' : ':'}) }}</li>
                    {% endif %}

                    {% if media.runtime is defined %}
                        <li>Runtime : {{ media.runtime }} Minutes</li>
                    {% endif %}

                    {% if media.averageEpisodeRuntime is defined %}
                        <li>Running time : {{ media.averageEpisodeRuntime }} Minutes</li>
                    {% endif %}

                    {% if media.numberOfEpisode is defined and media.maxEpisodes is defined %}
                        <li><abbr title="Number">No.</abbr> of Episode : {{ media.numberOfEpisode }} / {{ media.maxEpisodes }}</li>
                    {% endif %}

                    {% if media.currentSeason is defined and media.numberOfSeasons is defined %}
                        <li><abbr title="Number">No.</abbr> of seasons : {{ media.currentSeason }} / {{ media.numberOfSeasons }}</li>
                    {% endif %}

                    {% if media.languagesSpoken is defined %}
                        <li>Languages :
                            {% for l in media.languagesSpoken %}
                                <span class="flag-icon flag-icon-{{ l|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.languages is defined %}
                        <li>Languages :
                            {% for l in media.languages %}
                                <span class="flag-icon flag-icon-{{ l|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.subtitles is defined and media.subtitles|length > 0 %}
                        <li>Subtitles :
                            {% for s in media.subtitles %}
                                <span class="flag-icon flag-icon-{{ s|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </aside>
        </div>
    </section>
{% endblock %}
