{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}{{ media.title }}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">

        <div class="row">
            <article class="col-md-8 col-sm-6 col-xs-12">
                {% if media.title is defined %}
                    <h1>{{ media.title }}</h1>
                {% endif %}

                <h2>{% trans %}synopsis{% endtrans %}</h2>
                {% if media.synopsis is defined and media.synopsis is not empty %}
                    <p>{% autoescape false %}{{ media.synopsis }}{% endautoescape %}</p>
                {% else %}
                    <p>{% trans %}no_synopsis_found{% endtrans %}.</p>
                {% endif %}

                {# Video Block. #}
                {% if media.mainActors is defined %}
                    <h2>{% trans %}actors{% endtrans %}</h2>
                    {% if media.mainActors is not empty %}
                        <p>
                            {% for person in media.mainActors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_actors_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.producers is defined %}
                    <h2>{% trans %}producers{% endtrans %}</h2>
                    {% if media.producers is not empty %}
                        <p>
                            {% for person in media.producers %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_producers_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.directors is defined %}
                    <h2>{% trans %}directors{% endtrans %}</h2>
                    {% if media.directors is not empty %}
                        <p>
                            {% for person in media.directors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_directors_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}
                {# End Video Block. #}

                {# Book/Game Block #}
                {% if media.authors is defined %}
                    <h2>{% trans %}writters{% endtrans %}</h2>
                    {% if media.authors is not empty %}
                        <p>
                            {% for person in media.authors %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_authors_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.illustrators is defined %}
                    <h2>{% trans %}illustrators{% endtrans %}</h2>
                    {% if media.illustrators is not empty %}
                        <p>
                            {% for person in media.illustrators %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_illustrators_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.developers is defined %}
                    <h2>{% trans %}developers{% endtrans %}</h2>
                    {% if media.developers is not empty %}
                        <p>
                            {% for company in media.developers %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_developers_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.publishers is defined %}
                    <h2>{% trans %}publishers{% endtrans %}</h2>
                    {% if media.publishers is not empty %}
                        <p>
                            {% for company in media.publishers %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_publishers_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}
                {# End Book/Game Block #}

                {# Music Block #}
                {% if media.singers is defined %}
                    <h2>{% trans %}singers{% endtrans %}</h2>
                    {% if media.singers is not empty %}
                        <p>
                            {% for person in media.singers %}
                                {% if loop.last %}
                                    {{ person.firstName }} {{ person.lastName }}
                                {% else %}
                                    {{ person.firstName }} {{ person.lastName }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_singers_found{% endtrans %}.</p>
                    {% endif %}
                {% endif %}

                {% if media.labelRecords is defined %}
                    <h2>{% trans %}label_records{% endtrans %}</h2>
                    {% if media.labelRecords is not empty %}
                        <p>
                            {% for company in media.labelRecords %}
                                {% if loop.last %}
                                    {{ company.name }}
                                {% else %}
                                    {{ company.name }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>{% trans %}no_label_records_found{% endtrans %}.<p/>
                    {% endif %}
                {% endif %}
                {# End Music Block #}

                {# Metadata from genres, supports, platforms and format. #}
                <p>
                    {% if media.genres is defined %}
                        {% for g in media.genres %}
                            <span class="label label-primary label-content">{{ g|lower|trans }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if media.supports is defined %}
                        {% for s in media.supports %}
                            <span class="label label-info label-content">{{ s|lower|trans }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if media.format is defined %}
                        <span class="label label-success label-content">{{ media.format|lower|trans }}</span>
                    {% endif %}

                    {% if media.platforms is defined %}
                        {% for p in media.platforms %}
                            <span class="label label-success label-content">{{ p|lower|trans }}</span>
                        {% endfor %}
                    {% endif %}
                </p>

            </article>

            <aside class="col-md-4 col-sm-6 col-xs-12 complementary-information">
                <h2>Information</h2>
                <ul class="list-unstyled">
                    {% if media.originalTitle is defined %}
                        <li>{% trans %}original_title{% endtrans %} : {{ media.originalTitle }}</li>
                    {% endif %}

                    {% if media.releaseDate is defined %}
                        {% if media.endDate is defined  %}
                            <li>{% trans %}original_release{% endtrans %} : {{ media.releaseDate|localizeddate('long', 'none', global.request.locale) }} - {{ media.endDate|localizeddate('long', 'none', global.request.locale) }}</li>
                        {% else %}
                            <li>{% trans %}original_release{% endtrans %} : {{ media.releaseDate|date('d F Y') }}</li>
                        {% endif %}
                    {% endif %}

                    {% if media.isbn is defined %}
                        <li>ISBN : {{ media.isbn }}</li>
                    {% endif %}

                    {% if media.nbPages is defined %}
                        <li>Pages : {{ media.nbPages}} pages</li>
                    {% endif %}

                    {% if media.currentVolume is defined and media.volumes is defined %}
                        <li>Volume : {{ media.currentVolume}} / {{ media.volumes }}</li>
                    {% endif %}

                    {% if media.multiplayers is defined %}
                        <li>{% trans %}multiplayers{% endtrans %} :
                        {% if media.multiplayers == true %}
                            {% trans %}yes{% endtrans %}
                        {% else %}
                            {% trans %}no{% endtrans %}
                        {% endif %}
                        </li>
                    {% endif %}

                    {% if media.nbTracks is defined %}
                        <li>{% trans %}number_of_tracks{% endtrans %} : {{ media.nbTracks }} {% trans %}tracks{% endtrans %}</li>
                    {% endif %}

                    {% if media.length is defined %}
                        <li>{% trans %}length{% endtrans %} : {{ media.length|replace({'.' : ':'}) }}</li>
                    {% endif %}

                    {% if media.runtime is defined %}
                        <li>{% trans %}runtime{% endtrans %} : {{ media.runtime }} Minutes</li>
                    {% endif %}

                    {% if media.averageEpisodeRuntime is defined %}
                        <li>{% trans %}runtime{% endtrans %} : {{ media.averageEpisodeRuntime }} Minutes</li>
                    {% endif %}

                    {% if media.numberOfEpisode is defined and media.maxEpisodes is defined %}
                        <li><abbr title="{% trans %}number_abbr{% endtrans %}">No.</abbr> {% trans %}of_episode{% endtrans %} : {{ media.numberOfEpisode }} / {{ media.maxEpisodes }}</li>
                    {% endif %}

                    {% if media.currentSeason is defined and media.numberOfSeasons is defined %}
                        <li><abbr title="{% trans %}number_abbr{% endtrans %}">No.</abbr> {% trans %}of_season{% endtrans %} : {{ media.currentSeason }} / {{ media.numberOfSeasons }}</li>
                    {% endif %}

                    {% if media.languagesSpoken is defined %}
                        <li>{% trans %}languages{% endtrans %} :
                            {% for l in media.languagesSpoken %}
                                <span class="flag-icon flag-icon-{{ l|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.languages is defined %}
                        <li>{% trans %}languages{% endtrans %} :
                            {% for l in media.languages %}
                                <span class="flag-icon flag-icon-{{ l|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if media.subtitles is defined and media.subtitles|length > 0 %}
                        <li>{% trans %}subtitles{% endtrans %} :
                            {% for s in media.subtitles %}
                                <span class="flag-icon flag-icon-{{ s|lower }}"></span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </aside>
        </div>
    </section>
{% endblock %}
