{% extends "layout.html.twig" %}

{# Bootstrap theme. #}
{% form_theme register_form 'bootstrap_3_horizontal_layout.html.twig' %}

{# Keywords from meta 'keyword' #}
{% block keywords %}register, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Register{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{ block('title') }}</h2>
        {% if error %}
            <div class="alert alert-danger">
                <strong>Registration failed!</strong> {{ error }}
            </div>
        {% endif %}

        <div class="well">
            {{ form_start(register_form, {
                    'attr' : {
                        'role' : 'form',
                    }
                })
            }}

            {{ form_row(register_form.username) }}
            {{ form_widget(register_form.username) }}


            {{ form_row(register_form.password.first) }}
            {{ form_widget(register_form.password.first) }}

            {{ form_row(register_form.password.second) }}
            {{ form_widget(register_form.password.second) }}

            {{ form_row(register_form.email) }}
            {{ form_widget(register_form.email) }}

            {# Submit #}
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Registration</button>
                    <button type="reset" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-erase"></span> Clean form</button>
                </div>
            </div>
            {{ form_end(register_form) }}
        </div>
    </section>
{% endblock %}
