{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Homepage{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-12 col-sm-12 col-xs-12">
        <h2>Result for {{ result_search.subject_search }}</h2>
        {% if result_search.subject_found == 1 %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Media</th>
                    <th>Link</th>
                </tr>
                </thead>

                {% for key, media in media_result %}
                    {% for m in media %}
                        <tr>
                            <td class="col-md-4 col-sm-4 col-xs-4">{{ m.title }}</td>
                            <td class="col-md-4 col-sm-4 col-xs-4">
                                <span class="label label-info">{{ key|capitalize|replace({'-' : ' '}) }}</span>
                            </td>
                            <td class="col-md-1 col-sm-1 col-xs-1">
                                <a href="{{ path('media', {'id' : m.id, 'media' : key}) }}" >
                                    <button role="link" class="btn btn-primary btn-sm" value="Read more ...">Read more ...</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <p>No media found for {{ result_search.subject_search  }}.</p>
        {% endif %}
    </section>
{% endblock %}
